.add-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 226px;
  border: 1.5px solid #eeeeee;
  border-radius: 5px;
  line-height: 30px;
  font-size: 16px;
  color: #aaaaaa;
  transition: 0.3s ease-out;
  background: white;
}

.add-image:hover {
  transform: translate(0, -12px);
  cursor: pointer;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
  .add-image{
    width: 321px;
    margin: auto;
  }
}

.add-image-form {
  border: 2px dashed #eeeeee;
  color: #aaaaaa;
}


.dropzone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  border: none;
  width: 100%;
  height: 150px;
  font-size: 1.3em;
}


#upload-image-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.file-input-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

#label-image-input {
  cursor: pointer;
  border: 2.5px solid #aaaaaa;
  border-radius: .28571429rem;
  padding: 10px 0px 15px;
  width: 200px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
}

#label-image-input:hover {
  background: #e5eae7;
}

.submit-button-image {
  display: flex;
  height: 40px;
}

.button-div {
  display: flex;
  justify-content: flex-end;
  height: 90px;
  align-items: center;
}

.ui .button-div .button {
  background-color: #42c88d;
  color: white;
}

.ui .button:hover {
  background-color: #45b272;
  color: white;
}

.ui.modal > .content {
  padding: 0px 25px;
}