#title-image-container {
  width: 100%;
  overflow: hidden;
}

.title-image {
  margin: -3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 102%;
  height: 300px;
  filter: blur(6px) brightness(85%);
}

#title-line {
  position: relative;
  margin-top: 200px;
  background-color: black;
  height: 2px;
}