.add-category {
  width: 100%;
  height: 215px;
  border: 3px solid #eeeeee;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 31px;
  font-size: 16px;
  font-weight: 700;
  color: #aaaaaa;
  transition: 0.3s ease-out;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
  .add-category {
    width: 321px;
    margin: auto;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
  .add-category{
    width: 302px;
    margin: auto;
  }
}

.add-category:hover {
  cursor: pointer;
  transform: translate(0, -12px);
}

.add-category-svg {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}


.category-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.add-category-header {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 31px;
  padding-top: 30px;
  padding-bottom: 30px;
}


.add-category-input {
  width: 78%;
  line-height: 31px;
  letter-spacing: 0.8px;
  font-weight: 500;
  line-height: 31px;
  border: none;
}

.add-category-input:focus {
  outline: none;
}

.add-svg {
  margin-top: 3px;
  height: 14px;
  width: 14px;
}

.add-category-button-message {
  padding-left: 5px;
  padding-bottom: 10px;
  line-height: 31px;
  font-size: 16px;
  font-weight: 500;
  line-height: 31px;
}
.ui .button {
  background-color: #42c88d;
  color: white;
  height: 48px;
  width: 136px;
}

.ui .button:hover {
  background-color: #45b272;
  color: white;
}

#line-div {
  height: 20px;
}

#modal-line {
  background-color: #eeeeee;
  width: 100%;
  height: 2px;
  border: none; 
}
