.add-category {
  width: 100%;
  height: 205px;
  border: 1.5px solid #eeeeee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #aaaaaa;
  transition: 0.3s ease-out;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
  .add-category {
    width: 321px;
    margin: auto;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
  .add-category{
    width: 302px;
    margin: auto;
  }
}

.add-category:hover {
  cursor: pointer;
  transform: translate(0, -12px);
}


.category-form {
  display: flex;
  justify-content: center;
  height: 50px;
}

.add-category-input {
  width: 80%;
  border: none;
  font-weight: 500;
  height: 50px;
  
}

.ui .button {
  background-color: #42c88d;
  color: white;
  height: 45px;
}

.ui .button:hover {
  background-color: #45b272;
  color: white;
}

.ui.modal > .header {
  border-bottom: none;
  font-size: 1.5rem;
}

#line-div {
  height: 20px;
}

#modal-line {
  background-color: #eeeeee;
  width: 100%;
  height: 2px;
  border: none; 
}

.add-category-svg {
  width: 40px;
  height: 40px;
}
