.close-svg {
  width: 28px;
  height: 28px;
}

.close-svg:hover {
  cursor: pointer;
  color: #eeeeee;
}

.close-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -34px;
  right: -14px; 
  vertical-align: middle;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.add-image-header .close-modal {
  right: 12px;
}

.close-icon-message {
  position: relative;
  left: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .add-category-header .close-modal {
    top: -46px;
  }
}