.close-svg {
  width: 28px;
  height: 28px;
}

.close-svg:hover {
  cursor: pointer;
}

.close-modal {
  position: relative;
  display: flex;
  justify-content: center;
  left: 625px;
  bottom: 93px;
  margin: 0;
  width: 100px;
  vertical-align: middle;
  line-height: 31px;
  letter-spacing: 0.8px;
  color: #ffffff;
}

.close-icon-message {
  position: relative;
  left: 10px;
  font-size: 16px;
}


@media only screen and (max-width: 1919px){
  .close-modal {
    left: 580px;
  }
}

@media only screen and (max-width: 1199px) {
  .close-modal {
    left: 560px;
  }
}

@media only screen and (max-width: 991px) {
  .close-modal {
    left: 85%;
  }
}

@media only screen and (max-width: 767px) {
  .close-modal {
    left: 87%;
  }
}