.link {
  color: black;
}



@media only screen and (max-width: 767px) and (min-width: 320px){
  .category-item{
    width: 321px;
    margin: auto;
  }

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
  .category-item{
    width: 302px;
    margin: auto;
  }
}

.category-item {
  transition: 0.3s ease-out;
}
.category-item:hover {
  transform: translate(0,-12px);
  cursor: pointer;
  color: #298e2b;
}

.category-item img {
  height: 170px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.category-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -1px 1px 2px rgb(219, 221, 224), 1px 1px 2px rgb(219, 221, 224);
}

.category-item:hover .category-name {
  box-shadow: -1px 1px 2px 1px rgb(219, 221, 224), 1px 1px 2px 1px rgb(219, 221, 224);
}