.link {
  color: #555555;
  font-weight: 500;
}

.link:hover {
  color: #555555;
  font-weight: 500;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
  .category-item{
    width: 321px;
    margin: auto;
  }

  img {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
  .category-item{
    width: 302px;
    margin: auto;
  }

  img {
    width: 100%;
  }
}

.category-item {
  transition: 0.4s ease-in-out;
}
.category-item:hover {
  transform: translate(0,-10px);
  cursor: pointer;
  color: #555555;
  z-index: 1;
  position: relative;
}

.category-item img {
  height: 158px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: max-height 0.5s ease-in-out;
}

.category-item:hover .img-container {
 height: 127px;
}

.category-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 58px;
  font-size: 16px;
  font-weight: 500;
  background: #f9f9f9;;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: -0.5px 0.5px 0.5px rgb(219, 221, 224), 0.5px 0.5px 0.5px rgb(219, 221, 224);
  transition: max-height 0.5s ease-in-out;
}

.category-item:hover .category-name {
  box-shadow: -0.5px 0.5px 1.5px 1.5px rgb(219, 221, 224), 0.5px 0.5px 1.5px 1.5px rgb(219, 221, 224);
  height: 89px;
}

.length-message {
  display: none;
}

.category-item:hover .length-message {
  display: block;
  color: #b9b9b9;
  line-height: 31px;
  font-size: 1rem;
  letter-spacing: 0.8px;
}
