.container {
  margin-top: 170px;
}

.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
  margin-bottom: 70px; 
}

.link {
  color: black;
}

.loader {
  margin: 300px auto;
  width: 200px;
  height: 500px;
}

.loader img {
  height: 170px;
}

.item, .gallery-item {
  transition: 0.3s ease-out;
  /* box-shadow: 0px 2px black; */
}

.item:hover {
  transform: translate(0,-10px);
  cursor: pointer;
  color: #298e2b;
}

.item img {
  height: 170px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.category-name {
  height: 55px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -1px 1px 2px rgb(219, 221, 224), 1px 1px 2px rgb(219, 221, 224);
}

.item:hover .category-name {
  box-shadow: -1px 1px 2px 1px rgb(219, 221, 224), 1px 1px 2px 1px rgb(219, 221, 224);
}


.gallery-item .img-container {
  border: 1px solid transparent;
  border-radius: 5px;
}

.gallery-item:hover {
  transform: translate(0, -10px);
  cursor: pointer;
}

.gallery-item img {
  height: 255px;
}

