.container {
  margin-top: 170px;
}

.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
  margin-bottom: 100px;
}

.item {
  height: 170px;
  transition: 0.4s ease-out;
}

.item:hover {
  transform: translate(0,-10px);
  cursor: pointer;
  color: #34634a;
}


.item .img-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


.link {
  color: black;
}

.category-name {
  height: 55px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  border-right: 1px solid rgb(219, 221, 224); 
  border-left: 1px solid rgb(219, 221, 224);
  border-bottom: 1px solid rgb(219, 221, 224);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
