.container {
  position: absolute;
  /* top: 225px; */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: black;
}

.loader {
  margin: 50px auto;
  width: 200px;
}

.loader img {
  height: 170px;
}

.item, .gallery-item {
  transition: 0.3s ease-out;
}

.item:hover {
  transform: translate(0,-12px);
  cursor: pointer;
  color: #298e2b;
}

.item img {
  height: 170px;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.category-name {
  height: 55px;
  text-align: center;
  vertical-align: middle;
  line-height: 55px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: -1px 1px 2px rgb(219, 221, 224), 1px 1px 2px rgb(219, 221, 224);
}

.item:hover .category-name {
  box-shadow: -1px 1px 2px 1px rgb(219, 221, 224), 1px 1px 2px 1px rgb(219, 221, 224);
}


.gallery-item .img-container {
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gallery-item:hover {
  transform: translate(0, -12px);
  cursor: pointer;
}

.gallery-item img {
  height: 255px;
}
.title-image img {
  filter: blur(6px) brightness(85%);
  /* margin-top: -150px; */
}

.title-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
}

.add-category {
  width: 100%;
  height: 100%;
  border: 1.5px solid #e3e5e8;
  border-radius: 5px;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  color: #999b9a;
}

.add-category:hover {
  cursor: pointer;
}

.add-category-input {
  vertical-align: middle;
  width: 82%;
  border: none;
  line-height: 30px;
}
.add-category-input:focus {
  outline-width: 0;
}

.input-format {
  line-height: 45px;
  font-size: 16px;
  /* padding-bottom: / */
}

.submit-button {
  vertical-align: middle;
  position: relative;
  margin-left: 12px; 
}

.plus-icon {
  position: relative;
  padding: 30px 0px;
}

#modal-line {
  background-color: #949695;
  width: 100%;
  height: 2px;
  border: none;
}

.ui.modal > .header {
  border-bottom: none;
  font-size: 1.5rem;
}


